.head {
  &-d {
    z-index: 1;
    position: relative;
    &::after {
      z-index: -1;
      transition: all 0.6s ease;
      content: "";
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: -1px;
      --border-color: #{$color-blue};
      --border-weight: 1px;
      --dash-size: 5px;
      --gap-size: 5px;
      background: linear-gradient(
            90deg,
            var(--border-color) 100%,
            transparent 100%
          )
          top left no-repeat,
        linear-gradient(
            90deg,
            transparent calc(var(--gap-size) / 2),
            var(--border-color) calc(var(--gap-size) / 2),
            var(--border-color) calc(var(--gap-size) / 2 + var(--dash-size)),
            transparent calc(var(--gap-size) / 2 + var(--dash-size))
          )
          bottom center repeat-x;
      background-size: var(--dash-size) var(--border-weight),
        calc(var(--dash-size) + var(--gap-size)) var(--border-weight),
        var(--dash-size) var(--border-weight),
        var(--border-weight) var(--dash-size),
        var(--border-weight) calc(var(--dash-size) + var(--gap-size)),
        var(--border-weight) var(--dash-size);
    }

    &__wrapper {
    }

    &__logobox {
      background-color: $color-text-default;
      height: 100%;
      padding: 0 1rem;
      display: flex;
      align-items: center;
    }

    &__nav {
      height: 10rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__link:link,
    &__link:visited {
      text-decoration: none;
      color: $color-text-default;
      font-size: $fs-default;
      font-weight: $font-weight-medium;

      transition: all 0.3s;
    }

    &__link:hover,
    &__link:active {
      color: $color-brown;
    }
  }
}
