.meeting-form {
  &__head {
    font-size: $fs-medium;
    font-weight: $font-weight-light;
    text-align: center;
  }

  &--live {
    flex: 0 0 30%;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    &__input {
      border: none;
      width: 100%;
      border-radius: 100px;
      padding: 1.2rem 3.6rem;

      position: relative;

      &:focus,
      &:focus-visible,
      &:focus-within {
        border: none;
        border-bottom-color: transparent;
      }

      &::placeholder {
        color: $color-placeholder;
      }
    }

    span {
      position: relative;
      align-self: center;
      width: 80%;

      &:last-of-type {
        margin-bottom: $margin-tb-small;
      }
    }

    span:has(> &__input:required:placeholder-shown)::after {
      content: "Pole jest wymagane";
      color: $color-red;
      display: block;
      font-size: 1rem;
      position: absolute;
      left: 3rem;
      bottom: -2rem;
    }

    span:has(> &__input[type="tel"]:not(:placeholder-shown):invalid)::after {
      content: "Niepoprawny numer telefonu";
      color: $color-red;
      display: block;
      font-size: 1rem;
      position: absolute;
      left: 3rem;
      bottom: -2rem;
    }

    span:has(> &__input[type="mail"]:not(:placeholder-shown):invalid)::after {
      content: "Błędny format adresu email";
      color: $color-red;
      display: block;
      font-size: 1rem;
      position: absolute;
      left: 3rem;
      bottom: -2rem;
    }

    button {
      align-self: center;
      width: 40%;
    }
  }

  &--online {
    flex: 0 0 30%;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;

    gap: 2rem;
    &__btn {
      position: relative;

      &:link::after,
      &:visited::after {
        z-index: -1;
        content: "";
        background-color: $color-brown;
        width: 6.4rem;
        height: 6.4rem;
        display: block;
        border-radius: 50%;
        position: absolute;

        bottom: 0%;
        left: 0%;

        transform: translate(-20%, 10%);
        transition: all 0.3s;
      }

      &:hover::after,
      &:active::after {
        width: 10rem;
        height: 10rem;
        opacity: 0.5;

        transform: translate(-10%, 5%);
      }
    }

    &__text {
      font-size: 1.8rem;
      max-width: 60%;
      text-align: center;
      line-height: 1.3;
    }
  }
}
