//Colors
$color-white: #fff;
$color-black: #000;

$color-blue: #2b2273;
$color-brown: #df9a71;
$color-orange: #f38200;
$color-red: #cc0000;
$color-green: #4faf52;
$color-gray: #e2e2e2;
$color-brown-bg: #f6f0ec;
$color-blue-bg: #f5f8fb;
$color-blue-bg-dark: #e4ecf3;
$color-blue-bg-light: #f5f8fb70;
$color-purple-bg: #edebf6;
$color-border-gray: #707070;
$color-text-default: $color-blue;
$color-text-light: #a2a9be;
$color-text-purple: #958dd6;
$color-placeholder: #cecece;

// Font
$font-family: "Kanit";
$font-weight-light: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$fs-default: 1.5rem;
$fs-medium: 2.4rem;
$fs-large: 4.6rem;
$fs-big: 8rem;

// Whitespaces
$margin-tb-huge: 10rem;
$margin-tb-big: 8rem;
$margin-tb-medium: 4rem;
$margin-tb-small: 1.5rem;

$margin-lr-big: 8rem;
$margin-lr-medium: 4rem;
$margin-lr-small: 1.5rem;

$margin-lr-big-page: 8rem;
$margin-lr-medium-page: 4rem;
